@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;


.features-block {
  color: $white-100;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  overflow: hidden; // Ensures background image respects border-radius and no scrollbars appear
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: 100%;
  background-attachment: scroll; // Ensures it moves with the content
  min-height: 80rem;

  @include respond-to(xxl) {
    background-position-y: -300%;
  }

  @include respond-to(xs) {
    min-height: inherit;
    background-size: contain;
    padding-bottom: 400px;
  }

  // New centered header
  .section-header {
    margin-bottom: $spacing-3xl;
    width: 100%;
    display: flex;
    justify-content: center;

    .section-header-content {
      max-width: 800px;
      text-align: center;
    }

    .section--title {
      color: $color-text-black;
      font-size: $font-size-4xl;
      margin-bottom: $spacing-md;
    }

    .section--description {
      color: $color-text-black;
      font-size: $font-size-xl;
      line-height: $line-height-base;
      margin-bottom: $spacing-xl;
    }
  }

  .feature__grid {
    display: grid;
    // Adapt to 3 or 4 features
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $spacing-md;
    width: 100%;

    &--count-4 {
      @include respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include respond-to(xs) {
      grid-template-columns: 1fr;
    }
  }

  .feature-card {
    color: $color-text-default;
    padding: $spacing-xl; // 32px
    border-radius: $border-radius-lg;
    background: $white-75;
    backdrop-filter: blur(7.5px);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 190px;

    .feature-title {
      color: $color-text-black;
      font-size: $font-size-xl;
      margin-bottom: $spacing-sm;
      line-height: 1.5;
    }

    .feature-description {
      color: $color-text-grey;
      font-size: $font-size-lg;
      line-height: 1.5;

      p {
        margin-bottom: 0;
      }
    }

    .feature-icon {
      margin-bottom: $spacing-md;
      display: flex;
      width: 3.25rem;
      height: 3.2825rem;
      padding: 0.26rem;
      justify-content: center;
      align-items: center;
      border-radius: 1.56rem;
      background: $white-75;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
