@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;


.features-block {
  color: $white-100;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: $border-radius-xl;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: plus-darker, normal;

  .section-header {
    margin-bottom: $spacing-4xl;
    width: 100%;

    div:first-child {
      flex: 1;
    }

    @include respond-to(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: $spacing-lg;
    }

    .section--title {
      color: $white-100;
    }
  }

  .feature__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-lg;

    @include respond-to(xs) {
      grid-template-columns: 1fr;
    }
  }

  .feature-card {
    color: $color-text-default;
    padding: 2rem;
    border-radius: $border-radius-lg;
    background: $white-75;
    backdrop-filter: blur(7.5px);
    height: 100%;

    .feature-title {
      color: $color-text-black;
    }

    .feature-icon {
      margin-bottom: $spacing-md;
      display: flex;
      width: 3.25rem;
      height: 3.2825rem;
      padding: 0.26rem;
      justify-content: center;
      align-items: center;
      gap: 0.325rem;
      border-radius: 1.56rem;
      background: $white-75;
    }
  }
}
