@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;

.metrics-grid {
  @include transition();
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;

  @include respond-to(xs) {
    flex-direction: column;
  }
}

.metric-card {
  display: flex;
  padding: $spacing-lg;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 0 0;
  border-radius: 1rem;
  background-color: $primary-100;
  text-align: right;
  color: $color-primary;
  z-index: 0;
  position: relative;
  transition: all .3s ease;
  min-height: 445px;

  @include respond-to(xs) {
    min-height: auto;
  }

  &:before {
    content: "";
    background-image: url("./img/Yoga_Vector_White.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -200px -300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
  }

  &:hover,
  .metrics-grid:not(:hover) &.first-child {
    background-color: $color-primary;
    color: $white-100;
    flex: 2 0 0;

    @include respond-to(xs) {
      flex: 1 0 0;
      width: 100%;
    }

    .metric-value {
      color: $white-100;
      font-size: $font-size-6xl;
    }

    &:before {
      opacity: .20;
    }
  }

  .metric-value {
    color: $color-primary;
    font-size: $font-size-4xl;
  }

  .metric-content {
    min-height: 110px;
  }

  .metric-label {
    font-size: $font-size-xl;
  }
}
