@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

.footer {
	background: $color-primary;
	color: $white-50;
	display: flex;
	padding: map.get($spacings, "section-sm");
	flex-direction: column;
	gap: map.get($spacings, "section-sm");

	@include respond-to(xs) {
		padding: 2rem map.get($spacings, "section-sm");
	}

	.tagline {
		font-size: 2.25rem;
		text-align: right;
		margin-bottom: 0;
		color: $white-50;

	}

	&-links {
		background-color: initial;
		padding: 0;
		display: flex;
		align-items: center;
		width: 100%;

		@include respond-to(xs) {
			flex-direction: column;
		}
	}

	.footer-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid $white-25;
		padding-bottom: map.get($spacings, "section-sm");
	}

	.footer-menu {
		font-size: $font-size-sm;

		img {
			width: 8.52331rem;
			margin-bottom: map.get($spacings, "component-md");
		}
	}

	.menu {
		max-width: 170px;
		list-style: none;
		padding: 0;

		@include respond-to(xs) {
			max-width: 100%;
		}

		a {
			color: $white-100;


			&:hover {
				text-decoration: underline;
			}
		}

		li {
			list-style: none;
			padding: $spacing-xs 0;
		}
	}
}

.footer-bottom {
	padding: 0.625rem 0;
	text-align: center;
	display: flex;
	justify-content: center;
	color: $white-50;
	background-color: $primary-950;

	p {
		margin: 0;
		font-size: $font-size-sm;
	}

	a {
		color: $white-50;
		text-decoration: none;

		&:hover {
			color: $color-secondary;
		}
	}
}

// Footer
#footer-parallax-wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1; // Behind site-main
}
