/**
 * Styles pour les cartes
 */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Cartes - style de base
.card {
  @include card-style($shadow: none);

}

.card-primary {
  @include card-style(1.5rem, $color-primary, $shadow: none);
  color: $color-text-reverse;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-reverse;
    line-height: 1;

  }
}

.card-secondary {
  @include card-style(1.5rem, $secondary-50, $shadow: none);
  color: $color-text-reverse;
}

.card-neutral {
  @include card-style(1.5rem, $neutral-50, $shadow: none);
}

.card-outline {
  @include card-style(1.5rem, $white-100, $shadow: none);
  border: 1px solid $color-disabled;
}

.card-pink {
  @include card-style(3rem, $primary-50, $shadow: none);
}

.card-blue {
  @include card-style(3rem, $secondary-50, $shadow: none);
}

.card-grey {
  @include card-style(1.5rem, $neutral-50, $shadow: none);
}
