/**
 * Styles pour les cartes
 */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Cartes - style de base
.card {
  @include card-style();

  &__header {
    border-bottom: 1px solid $neutral-200;
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-md;
  }

  &__title {
    margin: 0;
    font-size: $font-size-xl;
    color: $color-primary-dark;
  }

  &__content {
    flex: 1;
  }

  &__footer {
    border-top: 1px solid $neutral-200;
    padding-top: $spacing-sm;
    margin-top: $spacing-md;
  }

  .border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
    border-radius: 8px 0 0 8px;
    pointer-events: none;
    z-index: 2;
  }
}


.card-pink {
  @include card-style(3rem, $primary-50, $shadow: none);
}

.card-grey {
  @include card-style(1.5rem, $neutral-50, $shadow: none);
}
