/**
 * Styles pour les inputs
 */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

// Mixin pour les styles d'input communs
@mixin input-styles {
  width: 100%;
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-sm;
  border: 3px solid $neutral-200;
  border-radius: $border-radius-full;
  background-color: $white-100;
  color: $color-text-primary;
  font-family: $font-main;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;

  box-shadow: none;
  @include transition();

  &::placeholder {
    color: $neutral-500;
    opacity: 1;
  }

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &:disabled {
    background-color: $neutral-100;
    cursor: not-allowed;
    color: $neutral-500;
  }
}

// Inputs standards - style de base
.input-base {
  @include input-styles;
}

// Application aux éléments
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
.input {
  @extend .input-base;
}

textarea {
  @extend .input-base;
  border-radius: $border-radius-xl;
  min-height: 6rem;
  resize: vertical;
}

// États d'erreur et désactivé
.input--error {
  border-color: $color-danger;

  &:focus {
    box-shadow: 0 0 0 3px rgba($color-danger, 0.2);
  }
}

.input--disabled {
  background-color: $neutral-100;
  cursor: not-allowed;
  color: $neutral-500;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] {
  // custom checkbox
  appearance: none;
  width: 1.3125rem;
  height: 1.3125rem;
  border: 1.5px solid $color-primary;
  border-radius: 0.375rem;
  background-color: $white-100;
  box-shadow: none;
  cursor: pointer;
  flex: none;

  &:checked {
    background-color: $color-primary;
    border-color: $color-primary;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L4 8L11 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

input[type="file"] {
  display: none;
}
