@use "../abstracts/variables" as *;
@use "../base/reset" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";
// Styles de base pour le thème enfant
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

// Typographie de base
body {
  font-family: $font-main;
  font-size: $font-size-base;
  font-weight: 500;
  line-height: $line-height-base;
  color: $color-text-default;
  overflow-x: hidden;
  position: relative;
}

div:not(.no-animation) p,
p:not(.no-animation),
h2:not(.no-animation),
h3:not(.no-animation),
blockquote:not(.no-animation),
hr:not(.no-animation) {
  /* animation-name: text-appear; @keyframes defined below */
  /* animation-timing-function: ease-in; standard should be linear */
  /* animation-fill-mode: both; keeps animated values forwards and backwards */
  animation: text-appear ease-in both;
  animation-timeline: view();
  /* applies animation state relative to viewport */
  animation-range: 0vh 20vh;
  /* set 0% and 100% positions */
}

@prefers-reduced-motion {

  p:not(.no-animation),
  h2:not(.no-animation),
  h3:not(.no-animation),
  blockquote:not(.no-animation),
  hr:not(.no-animation),
  img:not(.no-animation) {
    animation: none;
  }
}

@keyframes text-appear {
  from {
    opacity: 0;
    translate: 0 3rem;
  }
}

// Titres
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  line-height: 150%;
  margin-bottom: map.get($spacings, "component-md");
  color: $color-text-black;
  letter-spacing: 0.08rem;
}

h1,
.h1 {
  font-size: $h1-size;
}

h2,
.h2 {
  font-size: $h2-size;
}

h3,
.h3 {
  font-size: $h3-size;
}

h4,
.h4 {
  font-size: $h4-size;
}

h5,
.h5 {
  font-size: $h5-size;
}

h6,
.h6 {
  font-size: $h6-size;
}

.b1 {
  font-size: $b1-size;
  font-weight: 500;
  line-height: 150%;

}

h3,
.h3 {
  font-size: $h3-size;
}

h4,
.h4 {
  font-size: $h4-size;
}

h5,
.h5 {
  font-size: $h5-size;
}

h6,
.h6 {
  font-size: $h6-size;
}

.b1 {
  font-size: $b1-size;
  font-weight: 500;
  line-height: 150%;

}

// Liens
a {
  color: $color-text-link;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline;
  }
}

// Paragraphes
p {
  margin-bottom: $spacing-md;
  //  max-width: 70ch;
}

// Listes
ul,
ol {
  margin-bottom: $spacing-md;
  padding-left: $spacing-lg;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

img:not(.no-animation) {
  animation: image-appear ease-in both;
  animation-timeline: view();
  animation-range: 0vh 20vh;
}

@keyframes image-appear {
  from {
    opacity: 0;
    translate: 0 4rem;
  }
}

.wp-block-image img {
  border-radius: 1rem;
}
